/* General styles */
html, body {
    font-family: Arial, sans-serif;
    background-color: #3e3e3e;
    margin: 0;
    padding: 0;
    height: 100%;
    flex-direction: column;
    display: flex;
}
body > *:not(footer) {
    flex: 1;
    /* Push the footer to the bottom */
}

h1 {
    color:#fff;
}

h2 {
    color: #333;
}
 h5 {
     font-size: 12px;
     color: #fff;
     margin: 0;
     margin-left: 170px;
     margin-bottom: 0px;
     margin-top: -19.5px;
 }
.container {
    text-align: center;
    padding: 20px;
    background: #0000004e;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    float: middle;
    margin-top: 50px;
    margin-left: auto;
    margin-right: 75px;
    flex: 1;
}

/* Navbar styles */
.navbar {
    background-color: #333;
    color: white;
    padding: 5px 0;
    height: 100px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand a {
    color: white;
    text-decoration: none;
    font-size: 2.2em;
    font-weight: bold;
    margin-left: 5px;
}

.navbar-menu ul {
    list-style: none;
    margin: 10px;
    padding: 0;
    display: flex;
    margin-left: auto;

}

.navbar-menu ul li {
    margin-top: 10px;
    margin-left: 15px;

}

.navbar-menu ul li a {
    color: white;
    text-decoration: none;
    margin-left: auto;
    font-size: 0.9em;
}

.navbar-menu ul li a:hover {
    text-decoration: underline;
}


.player-container {
    text-align: center;
    background: #00000000;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* Player score group styles */
.player-score-group {
    background: #00000000;
    font-size: 16px;
    flex: 1 1 calc(25% - 20px);
    position: relative;
    flex-direction: column;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    border-right: 2px solid #ccc;
    margin-bottom: 50px;
    padding-bottom: 20px;
}


.player-score-group:last-child {
    border-right: none;
}

.player-score-group:nth-child(4) {
    border-right: none;
}



.player-score-group .score-label {
    font-size: 5.5em;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.player-score-group .name-label {
    align-self: flex-start;
    font-size: 1.5em;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    padding-bottom: 20px;
}

.player-score-group .out-shot-label {
    font-size: 1.2em;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    padding-bottom: 20px;
}


.player-score-group input {
    width: 10%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    height: 30px;
}

/* Current player highlight */
.current-player {
    text-align: center;
    background: #00000000;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: auto;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #00000000;
}

/* Reverse button styles */
#reverse-button {
    font-size: 24px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out 0s;
}

#reverse-button:hover {
    cursor: pointer;
    transform: rotate(-270deg);
    transition: all 0.3s ease-in-out 0s;
}


.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 20px 0;

}

.button-group button {
    padding: 3px 10px;
    border: 1px solid #595959;
    border-radius: 5px;
    background-color: #28a745;
    flex: 1 1 auto;
    width: auto;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button-group button.active {
    background-color: #007bff;
    color: white;
}

.button-group button.active:hover {
    background-color: #007bff;
    color: white;
}

.button-group button:hover {
    background-color: #218838;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #595959;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;


}

.form-group button {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #595959;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    width: 10%;
    text-align: center;
}

.player-input-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.player-input-group input {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #595959;
    border-radius: 5px;
}

.player-input-group button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #d91919;
    color: white;
    cursor: pointer;
}

.player-input-group button:hover {
    background-color: #892626;
}

.footer {
    position: relative;
    /* Ensure it stays in the normal document flow */
    bottom: -300px;
    left: 0;
    width: 100%;
    background-color: #000;
    /* Dark background color */
    color: white;
    /* White text color */
    text-align: center;
    padding: 20px 0;
    /* Add padding for spacing */
    font-size: 14px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
    z-index: 1000;
    /* Ensure it appears above other elements */
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #1abc9c;
    /* Light green link color */
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.footer-links a:hover {
    color: #16a085;
    /* Darker green on hover */
    text-decoration: underline;
}